---
version: '3.9'
services:
  server:
    deploy:
      replicas: ${LW_REPLICAS:-1}
    #      resources:
    #        reservations:
    #          memory: 100M
    #        limits:
    #          memory: 1G
    restart: unless-stopped
    image: ghcr.io/linkwarden/linkwarden:latest
    environment:
      SCHEMA:
      IS_TLS_ENABLED:
      ACME_HOSTNAME:
      ROUTE_HOSTNAME:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}"
      # auth
      NEXTAUTH_URL: "${SCHEMA}://${ROUTE_HOSTNAME}/api/v1/auth"
      NEXTAUTH_SECRET:
      NEXT_PUBLIC_DISABLE_REGISTRATION: true
      NEXT_PUBLIC_CREDENTIALS_ENABLED: true
      DISABLE_NEW_SSO_USERS: false
      NEXT_PUBLIC_PROVIDER_ENABLED: false
      # S3 Settings
      SPACES_KEY:
      SPACES_SECRET:
      SPACES_ENDPOINT:
      SPACES_BUCKET_NAME:
      SPACES_REGION: "us-east-1"
      SPACES_FORCE_PATH_STYLE: "true"
      # SMTP
      BASE_URL: "${SCHEMA}://${ROUTE_HOSTNAME}"
      SMTP_HOST:
      SMTP_USERNAME:
      SMTP_PASSWORD:
#      NEXT_PUBLIC_EMAIL_PROVIDER: false
#      EMAIL_FROM: "klub.top@yandex.ru"
#      EMAIL_SERVER: "smtps://${SMTP_USERNAME}:${SMTP_PASSWORD}@${SMTP_HOST}:465"
      # Limits
      MAX_LINKS_PER_USER: 600 # 6Gb per user
      RSS_SUBSCRIPTION_LIMIT_PER_USER: 5
      ARCHIVE_TAKE_COUNT: 2
        
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkwarden.rule=Host(`${ROUTE_HOSTNAME}`)"
      - "traefik.http.routers.linkwarden.tls=${IS_TLS_ENABLED}"
      - "traefik.http.routers.linkwarden.tls.certresolver=letsencrypt"
      - "traefik.http.routers.linkwarden.tls.domains[0].main=${ROUTE_HOSTNAME}"
      - "traefik.http.routers.linkwarden.tls.domains[0].sans[0]=${ACME_HOSTNAME}"
    networks:
      - ingress
      - default
    healthcheck:
      test: [ "CMD", "curl", "-s", "-o", "/dev/null", "-f", "-I", "http://127.0.0.1:3000"] 
      interval: 30s
      #      timeout: 3s
      retries: 5
      start_period: 1s
    depends_on:
      database:
        condition: service_healthy
  database:
    deploy:
      replicas: 1
    #      resources:
    #        reservations:
    #          memory: 100M
    #        limits:
    #          memory: 1G
    restart: unless-stopped
    image: postgres:15-alpine
    environment:
      TZ: Europe/Moscow
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    volumes:
      - database:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      retries: 5

#  meilisearch:
#    image: getmeili/meilisearch:v1.12.8
#    restart: always
#    env_file:
#      - .env
#    volumes:
#      - ./meili_data:/meili_data
  backuper:
    deploy:
      replicas: 1
    #      resources:
    #        reservations:
    #          memory: 100M
    #        limits:
    #          memory: 1G
    restart: no
    image: antonmarin/backuper:latest # https://hub.docker.com/r/antonmarin/backuper
    entrypoint: [ "/bin/sh", "-c" ]
    #    command: [ '/backuper/backuper.sh pg_backup ${BACKUP_PATH}' ]
    command:
      - "echo '15 */24 * * * /backuper/backuper.sh pg_backup ${BACKUP_PATH}' | crontab - && crond -L /dev/stdout -l4 -f"
    environment:
      DEBUG: "true"
      PGHOST: "database"
      PGPORT: "5432"
      POSTGRES_DB:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      TMP_DIR:
      GPG_PASSPHRASE:
      BACKUP_PATH:
      RCLONE_CONFIG_REMOTE_ENDPOINT:
      RCLONE_CONFIG_REMOTE_ACCESS_KEY_ID:
      RCLONE_CONFIG_REMOTE_SECRET_ACCESS_KEY:
      TZ: Europe/Moscow
      RCLONE_REMOTE: "remote"
      RETENTION: "6M"
    depends_on:
      database:
        condition: service_healthy
volumes:
  database:
networks:
  ingress:
    name: "ingress"
