[Unit]
Description=SSH Tunnel for user %i
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/volume1/homes/tunnel
Environment=DEBUG=true
ExecStart=/volume1/homes/tunnel/tunnel.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
