[Unit]
Description=SSH Tunnel for user %i
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/volume1/homes/tunnel
ExecStart=/volume1/homes/tunnel/ssh_tunnel.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
